﻿
@model List<GetAdminCardVM>

<div class="container-fluid">
    <!--  Row 1 -->

    <div class="row">
        
        <div class="col-lg-8 d-flex align-items-stretch" style="width:900px;">
            <div class="card w-100">
                <div class="card-body p-4" style="width:900px;">
                    <h5 class="card-title fw-semibold mb-4">Recent Transactions</h5>
                    <a class="btn btn-dark" asp-action="Create">Create</a>
                    <div  class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Id</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">img</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Name</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Description</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Created time</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Actions</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0"></h6>@item.Id</td>                                     
                                        <td><img src="../@item.ImgUrl" height="50px"></td>
                                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@item.Name</h6></td>
                                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0"></h6>@item.Description</td>
                                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0"></h6>@item.CreatedTime</td>
                                        <td>
                                            <a asp-action="Update" asp-route-id="@item.Id">Edit</a>
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>